{% extends "base.html" %}
{% block title %} Профайл пользователя
{{ user.get_full_name }}
{%endblock %} 
{% block content %}
{% load thumbnail %}
<div class="mb-5">
  <h1>Все посты пользователя {{ author.get_full_name }}</h1>
  <h3>Всего постов: {{ author.posts.count }}</h3>
  {% if following %}
    <a 
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button">
      Отписаться
    </a>
    {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button">
        Подписаться
      </a>
  {% endif %}
</div>
{% include 'includes/paginator.html' %}
</div>
    {% for post in page_obj %}
      <h5>Дата публикации: {{ post.pub_date|date:"d E Y" }}</h5><br>
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <h5>{{ post.text }}</h5>
      <br>
      <h5><a href="{% url 'posts:post_detail' post.id %}">Подробная информация </h5></a>
      {% if post.group %}
        <a href="{% url 'posts:group_posts' post.group.slug %}"><h5>Все записи группы</h5><br></a>
      {% endif %}
    {% endfor %}
{% endblock %}